<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://thitlwin.github.io/joy_app/1.0.4+15/JOY.ipa</string>
		<key>displayImageURL</key>
		<string>https://thitlwin.github.io/joy_app/joylogo.png</string>
		<key>fullSizeImageURL</key>
		<string>https://thitlwin.github.io/joy_app/joylogo.png</string>
	</dict>
	<key>method</key>
	<string>release-testing</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2XGQ94M9SZ</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
